.top-text {
  font-size: 5em;
  margin: 0%;
}

.second-text {
  font-size: 2em;
  max-width: 21em;
}

.card-number-input,
.cardholder-name-input,
.expiration-date-input,
.security-number-input {
  width: 99%;
}

.card-button {
  width: 15em;
  height: 6em;
  background-color: rgb(240, 236, 235);
}

.outer-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  max-width: 700px;
  margin: auto;
}

.submit-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.expiration-date-info,
.security-date-info {
  display: flex;
  flex-direction: column;
}

.payment-method-row {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}

@media only screen and (width < 613px) {
  .payment-method-row {
    display: flex;
    flex-direction: column;
  }
}

.security-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}

.submit {
  width: 25em;
  height: 6em;
  font-size: 100%;
}
